/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body{
    background-color: #f7f3ef;
    color: #3e2723;
}

/* Header */
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: #4e342e;
    position: sticky;
    top: 0;
    z-index: 100;
}

.firsth{
    color: #fff;
    text-transform: capitalize;
}

.link a{
    text-decoration: none;
    color: #fff;
    margin-left: 20px;
    font-size: 16px;
    transition: 0.3s;
}

.link a:hover{
    color: #ffcc80;
    border-bottom: 2px solid #ffcc80;
}

/*  Hero Section */
.firstsec{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.6)),
    url("https://i.pinimg.com/1200x/7f/7b/fd/7f7bfdaf4c169573115915116fce9904.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 60px;
}

.homep{
    color: #ffcc80;
    font-size: 22px;
}

.homeh{
    color: #fff;
    font-size: 45px;
    margin: 10px 0;
}

.homebut{
    padding: 12px 30px;
    background-color: #ffcc80;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 25px;
    transition: 0.4s;
}

.homebut:hover{
    background-color: #fff;
    transform: scale(1.05);
}

/* Coffee Images */
.secondsec{
    padding: 50px;
}

.coffeepic{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.coffeepic img{
    width: 220px;
    height: 260px;
    object-fit: cover;
    border-radius: 15px;
    transition: 0.4s;
}

.coffeepic img:hover{
    transform: translateY(-10px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}

/* Product Sections */
.therdsec, .forthsec{
    padding: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 25px;
    text-align: center;
}

.therdsec div, .forthsec div{
    background: #fff;
    padding: 15px;
    border-radius: 15px;
    transition: 0.4s;
}

.therdsec div:hover,
.forthsec div:hover{
    transform: scale(1.05);
    box-shadow: 0 15px 30px rgba(0,0,0,0.2);
}

.therdsec img,
.forthsec img{
    width: 100%;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

.forthsech{
    grid-column: span 4;
    margin-bottom: 20px;
    font-size: 35px;
}

/* Details Section */
.detelssec{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px;
    background-color: #efebe9;
}

.detelssec img{
    border-radius: 50%;
    height: 200px;
    width: 200px;

}

.detelssec h1{
    font-size: 30px;
    margin-bottom: 15px;
}

.detelssec button{
    padding: 12px 25px;
    background-color: #4e342e;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    margin-left: 50%;
}

.detelssec button:hover{
    background-color: #ffcc80;
    color: #000;
}

/* Offer Section */
.coffeeoff{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px;
}

.coffeeoff img{
    height: 200px;
    width: 200px;
    border-radius: 15px;
}

.coffeeoff input{
    padding: 10px;
    width: 220px;
    border-radius: 20px;
    border: 1px solid #aaa;
}

.coffeeoff button{
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background-color: #4e342e;
    color: #fff;
    cursor: pointer;
}

.coffeeoff button:hover{
    background-color: #ffcc80;
    color: #000;
}

/*  Footer work*/
.foot{
    background-color: #3e2723;
    color: #fff;
    padding: 40px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
}

.foot a{
    color: #ddd;
    text-decoration: none;
    display: block;
    margin: 8px 0;
    transition: 0.3s;
}

.foot a:hover{
    color: #ffcc80;
}
